@charset "utf-8";

.bg {
	background:#0FF;
}


.bg #web {
	width:985px;
	height:auto;
}


.bg center #web #container01 {
	
	background-color:#F00;
	position:absolute;
	top:60px;
	width:1000px;
	height:780px;
	
}
.bg center #web #container01 #actor1 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:10px;
	
}

.bg center #web #container01 #actor2 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:70px;
	
}

.bg center #web #container01 #actor3 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:130px;
	
}

.bg center #web #container01 #actor4 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:190px;
	
}

.bg center #web #container01 #actor5 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:250px;
	
}

.bg center #web #container01 #actor6 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:315px;
	
}

.bg center #web #container01 #actor6 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:315px;
	
}

.bg center #web #container01 #actor7 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:380px;
	
}

.bg center #web #container01 #actor8 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:450px;
	
}

.bg center #web #container01 #actor9 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:520px;
	
}


.bg center #web #container01 #actor10 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:580px;
	
}

.bg center #web #container01 #actor11 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:720px;
	
	
}


.bg center #web #container01 #actor1:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor2:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor3:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor4:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor5:hover {
	
	background-color:#900;
	
	
}


.bg center #web #container01 #actor6:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor7:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor8:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor9:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor10:hover {
	
	background-color:#900;
	
	
}

.bg center #web #container01 #actor1 #text1 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}

.bg center #web #container01 #actor1 #text1:hover {

	color:#FFF;
	
}

.bg center #web #container01 #actor2 #text2 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}

.bg center #web #container01 #actor2 #text2:hover {

	color:#FFF; 
	
}


.bg center #web #container01 #actor3 #text3 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}

.bg center #web #container01 #actor3 #text3:hover {

	color:#FFF; 
	
}


.bg center #web #container01 #actor4 #text4 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}

.bg center #web #container01 #actor4 #text4:hover {
	

	color:#FFF; 

	
}


.bg center #web #container01 #actor5 #text5 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}


.bg center #web #container01 #actor5 #text5:hover {

	color:#FFF; 
	
}

.bg center #web #container01 #actor6 #text6 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}

.bg center #web #container01 #actor6 #text6:hover {
	
	
	color:#FFF;
}



.bg center #web #container01 #actor7 #text7:hover {

	color:#FFF; 
	
}

.bg center #web #container01 #actor7 #text7 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}

.bg center #web #container01 #actor8 #text8 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}


.bg center #web #container01 #actor8 #text8:hover {

	color:#FFF; 
	
}

.bg center #web #container01 #actor9 #text9 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}

.bg center #web #container01 #actor9 #text9:hover {

	color:#FFF; 
	
}


.bg center #web #container01 #actor10 #text10 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
}

.bg center #web #container01 #actor10 #text10:hover {

	color:#FFF; 
	
}

.bg center #web #container01 #actor12 {
	
	width:1000px; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:650px;
	
}

.bg center #web #container01 #actor12:hover {
	
	background-color:#900;
	
	
}


.bg center #web #container01 #actor11:hover  {
	
	background-color:#900;


	
}



.bg center #web #container01 #actor12 #text12 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	

	
}

.bg center #web #container01 #actor11 #text11 {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:#F00; 
	font-size:2em;
	padding:10px;
	
	
}


.bg center #web #container01 #actor12 #text12:hover {

	color:#FFF; 
	
}

.bg center #web #container01 #actor11 #text11:hover {
	
	color:#FFF; 
	
}



.bg center  #cover {
	width:99%;
	height:880px;
	position:absolute;
	z-index:1;
	background-color:#000;
	opacity:0.8;
	display:none;
	
}




.bg center #page {
	
	width:700px;
	height:585px;
	position:absolute;
	left: 310px;
	top:800px;
	background-color:#FFF;
	display:none;
	z-index:1;

	
}

.bg center #button {
	
	width:150px;
	height:50px;
	background:#F00;
	border-radius:10px;
	position:absolute;
	display:none;
	top:40px;
	left:600px;	
	z-index:1;

	
}

.bg center #button:hover {
	background:#FFF;
}

.bg center #button #innerButton {
	
	width:100%;
	height:50px;
	position:absolute;
	display:block;
	left:40px;
	padding:10px;
	width:50px;
	height:50px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.3em;
	color:#FFF;


}



.bg center #button #innerButton:hover {
	
color:#F00;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

	
}


.bg center #page #textOut01 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
	
}

.bg center #page #textOut02 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
	
}


.bg center #page #textOut03 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
}

.bg center #page #textOut04 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
	
}



.bg center #page #textOut05 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
}

.bg center #page #textOut06 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
	
}

.bg center #page #textOut07 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
	
}

.bg center #page #textOut08 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
}

.bg center #page #textOut09 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
	
}

.bg center #page #textOut10 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
	
}

.bg center #page #textOut11 {
	
color:#F00;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.50em;
	
}



/*//////////////////mobile csss///////////////////*/ 


@media screen and (max-width:768px){
	
	
	.bg center #web #container01 {
	
	background-color:#F00;
	position:absolute;
	top:60px;
	width:97%;
	height:780px;
	
}
.bg center #web #container01 #actor1 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:10px;
	
}

.bg center #web #container01 #actor2 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:70px;
	
}

.bg center #web #container01 #actor3 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:130px;
	
}

.bg center #web #container01 #actor4 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:190px;
	
}

.bg center #web #container01 #actor5 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:250px;
	
}

.bg center #web #container01 #actor6 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:315px;
	
}

.bg center #web #container01 #actor6 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:315px;
	
}

.bg center #web #container01 #actor7 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:380px;
	
}

.bg center #web #container01 #actor8 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:450px;
	
}

.bg center #web #container01 #actor9 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:520px;
	
}


.bg center #web #container01 #actor10 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:580px;
	
}

.bg center #web #container01 #actor11 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:720px;
	
	
}



.bg center #web #container01 #actor12 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:650px;
	
}

.bg center  #cover {
	width:100%;
	height:880px;
	position:absolute;
	z-index:1;
	left:0%;
	background-color:#000;
	opacity:0.8;
	display:none;
	
}


.bg center #page {
	
	 width:80%;
	height:585px;
	position:absolute;
	z-index:1;
	left:10%;
	top:800px;
	background-color:#FFF;
	display:none;
	overflow:scroll;

	
}



.bg center #button #innerButton {
	
	width:100%;
	height:50px;
	position:absolute;
	display:block;
	left:10%;
	padding:10px;
	width:50px;
	height:50px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.3em;
	color:#FFF;


}

.bg center #button {
	
	width:150px;
	height:50px;
	background:#F00;
	border-radius:10px;
	position:absolute;
	display:none;
	top:40px;
	left:40%;	
	z-index:1;

	
}


.bg center #button #innerButton:hover {
	
color:#F00;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

	
}

.bg center #button:hover {
	background:#FFF;
}
	
}

@media screen and (max-width:480px){
	
.bg center #web #container01 {
	
	background-color:#F00;
	position:absolute;
	top:60px;
	width:96%;
	height:780px;
	
}
.bg center #web #container01 #actor1 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:10px;
	
}

.bg center #web #container01 #actor2 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:70px;
	
}

.bg center #web #container01 #actor3 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:130px;
	
}

.bg center #web #container01 #actor4 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:190px;
	
}

.bg center #web #container01 #actor5 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:250px;
	
}

.bg center #web #container01 #actor6 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:315px;
	
}

.bg center #web #container01 #actor6 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:315px;
	
}

.bg center #web #container01 #actor7 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:380px;
	
}

.bg center #web #container01 #actor8 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:450px;
	
}

.bg center #web #container01 #actor9 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:520px;
	
}


.bg center #web #container01 #actor10 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:580px;
	
}


.bg center #web #container01 #actor12 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:650px;
	
}

	
	.bg center  #cover {
	width:100%;
	height:880px;
	position:absolute;
	z-index:1;
	left:0%;
	background-color:#000;
	opacity:0.8;
	display:none;
	
}


.bg center #page {
	
	 width:80%;
	height:585px;
	position:absolute;
	z-index:1;
	left:10%;
	top:800px;
	background-color:#FFF;
	display:none;
	overflow:scroll;

	
}



.bg center #button #innerButton {
	
	width:100%;
	height:50px;
	position:absolute;
	display:block;
	left:30%;
	padding:10px;
	width:50px;
	height:50px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.3em;
	color:#FFF;


}

.bg center #button {
	
	width:150px;
	height:50px;
	background:#F00;
	border-radius:10px;
	position:absolute;
	display:none;
	top:40px;
	left:30%;	
	z-index:1;

	
}

	.bg center #button #innerButton:hover {
	
color:#F00;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

	
}

.bg center #button:hover {
	background:#FFF;
}


.bg center #web #container01 #actor11 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:720px;
	
	
}

	
}


@media screen and (max-width:320px){ 


.bg center #web #container01 {
	
	background-color:#F00;
	position:absolute;
	top:60px;
	width:95%;
	height:780px;
	
}
.bg center #web #container01 #actor1 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:10px;
	
}

.bg center #web #container01 #actor2 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:70px;
	
}

.bg center #web #container01 #actor3 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:130px;
	
}

.bg center #web #container01 #actor4 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:190px;
	
}

.bg center #web #container01 #actor5 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:250px;
	
}

.bg center #web #container01 #actor6 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:315px;
	
}

.bg center #web #container01 #actor6 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:315px;
	
}

.bg center #web #container01 #actor7 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:380px;
	
}

.bg center #web #container01 #actor8 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:450px;
	
}

.bg center #web #container01 #actor9 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:520px;
	
}


.bg center #web #container01 #actor10 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:580px;
	
}


.bg center #web #container01 #actor12 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:650px;
	
}


.bg center  #cover {
	width:100%;
	height:880px;
	position:absolute;
	z-index:1;
	left:0%;
	background-color:#000;
	opacity:0.8;
	display:none;
	
}


.bg center #page {
	
	 width:80%;
	height:530px;
	position:absolute;
	z-index:1;
	left:10%;
	top:800px;
	background-color:#FFF;
	display:none;
	overflow:scroll;

	
}



.bg center #button #innerButton {
	
	width:100%;
	height:50px;
	position:absolute;
	display:block;
	left:10%;
	padding:10px;
	width:50px;
	height:50px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.3em;
	color:#FFF;


}

.bg center #button {
	
	width:150px;
	height:50px;
	background:#F00;
	border-radius:10px;
	position:absolute;
	display:none;
	top:40px;
	left:40%;	
	z-index:1;

	
}


.bg center #button #innerButton:hover {
	
color:#F00;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

	
}

.bg center #button:hover {
	background:#FFF;
}


.bg center #web #container01 #actor11 {
	
	width:100%; 
	height:50px;
	background-color:#FFF;
	position:absolute; 
	top:720px;
	
	
}


}
